<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="./assets/css/styleFisica.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="center">
            <h1>Calcule su peso</h1>
        </div>
        <form>
            <label>Masa</label><br>
            <input type="text" id="peso" /><br>
            <label>Peso en tierra</label><br>
            <input type="text" id="tierra" disabled /><br>
            <label>Peso en luna</label><br>
            <input type="text" id="luna" disabled /><br>
            <label>Peso en marte</label><br>
            <input type="text" id="marte"disabled /><br>
        </form>
    </div>
    
    <script src="../assets/js/fisica.js"></script>

</body>

</html>